
/* General Section Styles */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem 2rem;
    gap: 1rem;
    min-height: 80vh;
}

/* Section Heading Styles */

section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
    font-family: var(--font-kode-mono);
    text-transform: uppercase;
}

section h2::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: var(--hover-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* About Section */

.headshot {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(144, 255, 198);
}

.headshot img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.headshot img:hover {
    transform: scale(1.2);
}

.bio {
    font-family: var(--font-inter);
    margin-bottom: 2rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

.bio p {
    font-size: 1.8rem;
    font-weight: 450;
}

.social-links {
    font-size: 2.5rem;
}

.social-links a {
    margin: 0 0.75rem;
}

.social-links a i {
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover i {
    color: black;
    transform: scale(1.2);
}

.social-links i {
    color: #3d5b4b  ;
    font-weight: 500;
}

/* Projects Section */

#projects-section {
    width: 100%;
}

#projects-section h2 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 700;
}

#projects-section h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.project-subsection {
    width: 100%;
    margin-bottom: 2rem;
}

.projects-scroll-container {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    margin: 0 auto;
}

/* Cards Swiper */

.swiper {
    width: 100%;
    overflow-x: scroll !important;
}

.swiper-slide {
    width: 272px !important;
    height: 400px;
}

.swiper-slide > a {
    display: block;
    transform: scale(0.9);
    width: 272px;
    height: 400px;
    text-decoration: none;
}

.swiper-wrapper {
    display: flex;
}

.project-box {
    border: 1px solid #d7dbd8;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: scale(0.95);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    color: black;
    font-family: var(--font-inter);
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-box p {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

/* Skills Section */

#skills-section {
    min-height: 30vh;
    padding: 2rem 2rem 2rem;
}

#skills-section h2 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 700;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.skills-container i {
    font-size: 3rem;
    color: #3d5b4b;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 1rem 0;
}

.skills-container i:hover {
    transform: scale(1.2);
    color: black;
}

/* Leave a Message Section */

#leave-message-section {
    min-height: 50vh;
    justify-content: center;
    gap: 1rem;
}

#leave-message-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#leave-message-section p {
    font-size: 1.25rem;
    color: #555;
    max-width: 600px;
    line-height: 1.6;
}

footer {
    background-color: #909090;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
    width: 100%;
}

@media (max-width: 1023px) {

    section {
        padding: 2rem 1rem 0.8rem;
    }
    
    section h2 {
        font-size: 2rem;
    }
    
    section h2::after {
        width: 110px;
        height: 4px;
    }

    .headshot {
        width: 16rem;
        height: 16rem;
    }

    .bio {
        margin-bottom: 1rem;
    }
    
    .bio p {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .social-links {
        font-size: 2rem;
    }
    
    .swiper-slide {
        width: 240px !important;
        height: 340px;
    }
    
    .swiper-slide > a {
        width: 240px;
        height: 340px;
    }
    
    .project-box img {
        width: 90%;
        height: 10rem;
    }
    
    .project-box h4 {
        font-size: 1rem;
    }

    .project-box p {
        font-size: 0.8rem;
    }

    .project-subsection {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {

    section {
        padding: 1rem 1rem 0.8rem;
    }
    
    section h2 {
        font-size: 1.2rem;
    }

    section h2::after {
        width: 100px;
        height: 4px;
    }
    
    .headshot {
        width: 12rem;
        height: 12rem;
    }

    .bio p {
        font-size: 0.9rem;
        font-weight: 380;
    }

    .social-links {
        font-size: 1.8rem;
    }

    .swiper-slide {
        width: 220px !important;
        height: 320px;
    }
    
    .swiper-slide > a {
        width: 220px;
        height: 320px;
    }
    
    .project-box img {
        width: 85%;
        height: 8rem;
    }
}