section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem 2rem;
    gap: 1rem;
    min-height: 70vh;
}

.section-h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
    font-family: var(--font-kode-mono);
    text-transform: uppercase;
}

.section-h2::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: var(--hover-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* About me */

.profile-picture {
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.profile-picture img:hover {
    transform: scale(1.2);
}

.abstract {
    font-family: var(--font-inter);
    margin-bottom: 2rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

.abstract p {
    font-size: 20px;
    font-weight: 350;
    text-align: justify;
}

.div-tech-skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 350;
}

.div-tech-skills h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 350;
    font-size: 20px;
}

.email-link {
    color: #29b86a;
    font-weight: 350;
    text-decoration: none;
    font-size: 20px;
}

.email-link:hover {
    text-decoration: underline;
}

.social-media {
    font-size: 2.5rem;
}

.social-media a {
    margin: 0 0.75rem;
}

.social-media a i {
    transition: transform 0.3s, color 0.3s;
}

.social-media a:hover i {
    color: black;
    transform: scale(1.2);
}

.social-media i {
    color: #3d5b4b  ;
    font-weight: 500;
}

/* Projects */

#projects {
    width: 100%;
}

#projects h2 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 700;
}

#projects h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.projects-sub {
    width: 100%;
    margin-bottom: 2rem;
}

.swiper {
    width: 100%;
    overflow-x: auto !important;
}

.project-slide {
    width: 400px !important;
    height: 400px;
}

.project-slide > a {
    display: block;
    transform: scale(0.9);
    width: 400px;
    height: 400px;
    text-decoration: none;
}

.swiper-wrapper {
    display: flex;
}

.project-box {
    border: 1px solid #bfbfbf;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: scale(0.95);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-box img {
    width: 80%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.project-box div h4 {
    color: black;
    font-family: var(--font-inter);
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 600;
}

.project-box p {
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 0 10px 0 10px;
    text-align: justify;
}

/* My Skills */

#my-skills {
    min-height: 30vh;
    padding: 2rem 2rem 2rem;
    width: 100%;
}

#my-skills h2 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 700;
}

.my-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.my-skills-container i {
    font-size: 3rem;
    color: #3d5b4b;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 1rem 0;
}

.my-skills-container i:hover {
    transform: scale(1.2);
    color: black;
}

footer {
    background-color: black;
    width: 100%;
    color: white;
    font-family: var(--font-kode-mono);

    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
}

#education {
    background-color: #eaeaea;
    min-height: auto;
    /* align-items: center; */
    width: 100%;
}

#education div {
    width: 100%;
    /* background-color: #3d5b4b; */
}

.education-slide {
    padding: 10px;
    border-bottom: 1px dashed #959595;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

.education-slide h4 {
    padding: 0 0 0 30px;
}

.education-slide div {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 70px;
    align-items: center;
    text-align: start;
}

.education-slide div h3 {
    width: 40%;
    font-family: var(--font-kode-mono);
}

.education-slide div p {
    width: 50%;
}

@media (max-width: 1023px) {

    section {
        padding: 2rem 1rem 0.8rem;
        min-height: 50vh;
    }
    
    .section-h2 {
        font-size: 2rem;
    }
    
    .section-h2::after {
        width: 110px;
        height: 4px;
    }

    .profile-picture {
        width: 14rem;
        height: 14rem;
    }

    .abstract {
        margin-bottom: 1rem;
    }
    
    .abstract p {
        font-size: 15px;
        font-weight: 350;
    }
    
    .div-tech-skills ul {
        font-size: 15px;
        font-weight: 350;
        text-align: start;
    }
    
    .div-tech-skills h3 {
        font-size: 15px;
        font-weight: 350;
    }

    .email-link {
        font-size: 15px;
        font-weight: 350;
    }

    .social-media {
        font-size: 2rem;
    }

    #projects h2 {
        font-size: 36px;
    }
    
    .project-slide {
        width: 240px !important;
        height: 340px;
    }
    
    .project-slide > a {
        width: 240px;
        height: 340px;
    }
    
    .project-box img {
        width: 80%;
        height: 8rem;
    }

    .project-box div {
        padding: 0 5px 0 5px;
    }

    .project-box div h4 {
        font-size: 12px;
    }

    .project-box p {
        font-size: 12px;
        padding: 0 5px 0 5px;
    }

    .projects-sub {
        margin-bottom: 1rem;
    }

    #my-skills {
        min-height: 20vh;
        padding: 1rem 1rem 1rem;
    }

    #my-skills h2 {
        font-size: 36px;
    }

    .my-skills-container i {
        font-size: 32px;
        margin: 10px 0;
    }




    


    .education-slide {
        padding: 5px;
    }
    
    .education-slide h4 {
        padding: 0 0 0 5px;
        font-size: 12px;
    }
    
    .education-slide div {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 20px;
    }
    
    .education-slide div h3 {
        width: 35%;
        font-size: 12px;
    }
    
    .education-slide div p {
        font-size: 12px;
        width: 60%;
    }
}

@media (max-width: 600px) {

    section {
        padding: 1rem 1rem 0.8rem;
    }
    
    .section-h2 {
        font-size: 1.2rem;
    }

    .section-h2::after {
        width: 100px;
        height: 4px;
    }
    
    .profile-picture {
        width: 10rem;
        height: 10rem;
    }

    .abstract {
        padding: 0 1rem;
    }

    .abstract p {
        font-size: 12px;
    }

    .div-tech-skills ul {
        font-size: 12px;
    }
    
    .div-tech-skills h3 {
        font-size: 12px;
    }

    .email-link {
        font-size: 12px;
    }

    .hide-on-small {
        display: none;
    }

    .social-media {
        font-size: 1.8rem;
    }

    .project-slide {
        width: 220px !important;
        height: 320px;
    }
    
    .project-slide > a {
        width: 220px;
        height: 320px;
    }
    
    .project-box img {
        width: 80%;
        height: 7rem;
    }

    #my-skills {
        min-height: 10vh;
        padding: 1rem 1rem 1rem;
    }

    #my-skills h2 {
        font-size: 32px;
    }

    #projects h2 {
        font-size: 32px;
    }

    .my-skills-container {
        gap: 15px;
    }

    .my-skills-container i {
        font-size: 25px;
        margin: 8px 0;
    }

    footer {
        padding: 16px 0;
        font-size: 11px;
    }

    .education-slide {
        height: 80px;
    }
    
    .education-slide h4 {
        padding: 0 0 0 10px;
        font-size: 15px;
    }
    
    .education-slide div {
        padding: 0 10px 0 30px;
    }
    
    .education-slide div h3 {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .education-slide div p {
        display: none;
    }

}