@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --hover-color: #55d991;
    --font-kode-mono: "Kode Mono", serif;
    --font-press-start-2p: "Press Start 2P", serif;
    --font-inter: "Inter", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 60px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.navbar-logo a {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-press-start-2p);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
}

.navbar-menu a {
    color: inherit;
    font-family: var(--font-kode-mono);
    font-weight: 600;
    margin: 0 0.625rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-menu a:hover {
    color: var(--hover-color);
    transition: color 0.3s ease-in-out;
}

@media (max-width: 1023px) {
    .navbar-logo a {
        font-size: 1.25rem;
    }

    .navbar-menu a {
        font-size: 1rem;
        margin: 0 0.5rem;
    }
}

@media (max-width: 600px) {
    .navbar-logo a {
        font-size: 1rem;
    }

    .navbar-menu a {
        font-size: 0.9rem;
        margin: 0 0.375rem;
    }
}